
<%- include('../common/header')%>
%>


<div class="container-fluid">
  <div class="row">
    
    <%- include('../common/asidesupervisor')%>    
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1><%=title%></h1>

        
        
      
      </div>
      
      <% if(typeof msgok != 'undefined') { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><%= msgok %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      
      <% } %> 
      <table id="especialidad" class="table table-bordered table striped text-center mt-4">
        <thead>
          <tr class="bg-primary-500 text-white">
            <!-- <th scope="col">ID-OTD</th> -->
            <th scope="col">Supervisor</th>
            <th scope="col">Tecnico</th>
            <th scope="col">Turbina</th>
            <th scope="col">Kks</th>
            <th scope="col">Creado</th>
            <th scope="col">Tarea</th>
            <th scope="col">Estado</th>
            <th scope="col">Duración(hrs)</th>
            <th scope="col">Reporte</th>
            <th scope="col">Operaciones</th>
          </tr>

        </thead>

      </table>
      
    </main>
  </div>
  
</div>

<script>
  

  $(document).ready(function () {
    $('#especialidad').DataTable({
      // "ordering": false,   
      order: [[4, 'desc']],
      language: {
        url: '/json/es-ES.json'
      },      
      ajax:{
        url:"/ot/ordenescjson",
        dataSrc:""
      },
      columns:[
        // {data:"idot"},
        {data:"Supervisor.nombre"},
        {data:"Tecnico.nombre"},
        {data:"formularioot.ot.Turbina.nombre"},
        {data:"formularioot.kk.kks"},
        {data:null,
          "render": function (data, type, row) {
            

            const fechaCreado = data.createdAt.slice(0, 19).replace('T',' ');
            // return new Date(JSON.stringify(fechaCreado))
               return fechaCreado;
            },
        },
        {data:"tarea"},
        {"data": null,
         "render": function (data, type, row) {
        
                switch (data.estadotecnico) {
                case 0:
                    return  '<h6 class="text-primary">Espera...</h6>';
                case 1:
                    return  '<h6 class="text-warning">Procesando...</h6>';
                case 2:
                    return  '<h6 class="text-success">Finalizado</h6>';
                default:
                    return "Error de estado-->"+data.estado;
                }
            },
        },
        {"data": null,
         "render": function (data, type, row) {
                let datenow = new Date(Date.now()).toISOString().slice(0, 19);
                var date1 = new Date(datenow);
                switch (data.estadotecnico) {
                case 0:
                    const creado = data.createdAt.slice(0, 19);
                    const date2 = new Date(creado);
                    const diff = date1.getTime() - date2.getTime();
                    const horas = diff / (1000 * 3600);
                    const horasRedondeado = Math.abs(Math.round(horas*100)/100);
                    const horaEsp = Math.trunc(horasRedondeado);
                    const decimalEsp = Math.abs(Math.round((horasRedondeado - horaEsp)*60));
                    return  horaEsp+":"+decimalEsp;
                case 1:
                    const inicio = data.inicia.slice(0, 19);
                    const inicioDate = new Date(inicio);

                    const diffProcesando = inicioDate.getTime() - date1.getTime();
                    const horasProcesando = diffProcesando / (1000 * 3600);
                    // redondeamos
                    const horasProcRedondeado = Math.abs(Math.round(horasProcesando*100)/100);

                    const horaProc = Math.trunc(horasProcRedondeado);
                    const decimalProc = Math.abs(Math.round((horasProcRedondeado - horaProc)*60));
                    
                    //  return  horasProcRedondeado;
                     return  horaProc+":"+decimalProc;
                case 2:

                    const inicioFin = data.inicia.slice(0, 19);
                    const inicioDateFin = new Date(inicioFin);
                    const finalizaFin = data.finaliza.slice(0, 19);
                    const finalizaDateFin = new Date(finalizaFin);

                    const finHoras = finalizaDateFin.getTime() - inicioDateFin.getTime();
                    const horasFinalizado = finHoras / (1000 * 3600);
                    const finalizoRedondeado = Math.abs(Math.round(horasFinalizado*100)/100);
                    const hora = Math.trunc(finalizoRedondeado);
                    const decimal = Math.abs(Math.round((finalizoRedondeado - hora)*60));
                    // Math.abs(Math.round((finalizoRedondeado - hora)*60);
                   
                    // const date = new Date(finalizoRedondeado);
                    // const hoursAndMinutes = date.getHours() + ':' + date.getMinutes();
                    // const finalizoRedondeado = new Date(horasFinalizado).getMinutes()
                    
                    //  return  horasFinalizado.toFixed(2);
                      return  hora+":"+decimal;
                    // return finalizoRedondeado;
                default:
                    return "Error de estado";
                }
            },
        },
        {"data": null,
         "render": function (data, type, row) {
        
                switch (data.estadotecnico) {
                case 0:
                    return  '<h6 class="text-primary">Espera...</h6>';
                case 1:
                    return  '<h6 class="text-warning">Procesando...</h6>';
                case 2:
                    return  data.reporte;
                default:
                    return "Error de estado-->"+data.estado;
                }
            },
        },
        

        {"data": null,
            "render": function (data,type,row) { 
              var idotc = row.id;
              let estSupervisor=data.estadosupervisor;
          if(estSupervisor==4){
            
            return '<i class="fa-solid  text-danger fa-3x fa-check fa-fw"></i>';
          }
          if(estSupervisor==1 ){
            
            return '<i class="fa-solid  text-success fa-3x fa-check fa-x"></i>';
            
          }
          if(estSupervisor==2){
            
            return '<i class="fa-solid  text-danger fa-3x fa-check fa-x"></i>';
          }
          if(estSupervisor==3 ){
            
            return '<i class="fa-solid  text-success fa-3x fa-check fa-fw"></i>';
            
          }
          // return '<i class="fa-solid  text-success fa-3x fa-check fa-x"></i>';
          if(data.estadotecnico == 1 ){
            return  '<h6 class="text-warning">Procesando...</h6>';
          }
          if(data.estadotecnico == 2 && estSupervisor==0){
            return '<button type="button" onclick="procesarpos(\'' + row.Tecnico.nombre +'\','+row.id+');"class="btn btn-sm  bg-succes-dark text-white mx-3">Cerrar Inf. OTC+</button><button type="button" onclick="procesarneg(\'' + row.Tecnico.nombre +'\','+row.id+');"class="btn btn-sm  bg-danger-dark text-white mx-3 my-2">Cerrar Inf. OTC-</button>'
          }
          if(data.estadotecnico == 0 && estSupervisor==0){
            return '<button type="button" onclick="cerrarpos(\'' + row.Tecnico.nombre +'\','+idotc+');" class="btn btn-sm bg-succes-dark my-2 mx-2 text-white">Cancelar +</button><button type="button" onclick="cerrarneg(\'' + row.Tecnico.nombre +'\','+idotc+');" class="btn btn-sm bg-danger-dark text-white">Cancelar -</button>'                           
            
                
          }
                
          }
        },
      ]      
    });
});
function procesarpos(tecnico,idotc){
  Swal.fire({
  title: tecnico,
  text: "Procesar informe OTC positivo?",
  icon: 'success',
  showCancelButton: true,
  confirmButtonColor: '#4CAF50',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Confirmar'
}).then((result) => {
  if (result.isConfirmed) {
    window.location = '/ot/infpos/'+idotc;
    
  }
})
}
function procesarneg(tecnico,idotc){
  Swal.fire({
  title: tecnico,
  text: "Procesar informe OTC negativo?",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#4CAF50',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Confirmar'
}).then((result) => {
  if (result.isConfirmed) {
    window.location = '/ot/infneg/'+idotc;
    
  }
})
}
function cerrarpos(tecnico,idotc){
  Swal.fire({
  title: tecnico,
  text: "Cancelar informe sin falta?",
  icon: 'success',
  showCancelButton: true,
  confirmButtonColor: '#4CAF50',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Confirmar'
}).then((result) => {
  if (result.isConfirmed) {
    window.location = '/ot/cerrarpos/'+idotc;
    
  }
})
}
function cerrarneg(tecnico,idotc){
  Swal.fire({
  title: tecnico,
  text: "Canelar OTC con llamada de atencion?",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#4CAF50',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Confirmar'
}).then((result) => {
  if (result.isConfirmed) {
    window.location = '/ot/cerrarneg/'+idotc;
    
  }
})
}
  </script>
<%- include('../common/footer')%>

