
<%- include('../common/header')%>
%>


<div class="container-fluid">
  <div class="row">
    
    <%- include('../common/aside')%>    
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1><%=title%></h1>
        
<span class="text-dark"> <% if(typeof nombre != 'undefined') { %><%=  nombre %><% } %></span>  
  
      
      </div>
      
      <% if(typeof msgok != 'undefined') { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><%= msgok %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      
      <% } %> 
      <table id="especialidad" class="table table-bordered table striped text-center mt-4">
        <thead>
          <tr class="bg-primary-500 text-white">
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
            <!-- <th scope="col">Asignar OT</th> -->
          </tr>

        </thead>

      </table>
      
    </main>
  </div>
  
</div>

<script>
    
    
     $(document).ready(function () {
    $('#especialidad').DataTable({
      "ordering": true,   
      language: {
        url: '/json/es-ES.json'
      },      
      ajax:{
        url:"/usuarios/administradores",
        dataSrc:""
      },
      columns:[
      {data:"nombre"},
      {data:"correo"},
      {data:"especialidade.especialidad"},
      {"data": null,
         "render": function (data, type, row) {
                return data.estado
                    ? '<h6 class="text-success">Habilitado</h6>'
                    : '<h6 class="text-danger">Deshabilitado</h6>'
            },
        },
        
        {"data": null,
            "render": function (data,type,row) { 
              console.log("--------dafaking*----------------------****--- row"+JSON.stringify(data));
              var idUsuario = row.id;
              // var esp = JSON.stringify(data);
              // var esp = "Guddy";
              // alert(JSON.stringify(idUsuario));
              // return '<button type="button" onclick="confirmar(\'' + row.nombre +'\','+idUsuario+');" class="btn btn-sm bg-warning-dark text-white">Cambiar estado</button><a href="/usuarios/tecnico/nuevo/'+data.id+ '"class="btn btn-sm  bg-info-dark text-white ms-3">+ Tecnico</a><a href="/usuarios/supervisor/nuevo/'+data.id+ '"class="btn btn-sm  bg-success text-white mx-3">+ Supervisor</a>'                           
              return '<button type="button" onclick="confirmar(\'' + row.nombre +'\','+idUsuario+');" class="btn btn-sm bg-warning-dark text-white">Cambiar estado</button><a onclick="confirmarTecnico(\'' + row.nombre +'\','+idUsuario+');" class="btn btn-sm  bg-info-dark text-white ms-3">+ Tecnico</a><a onclick="confirmarSupervisor(\'' + row.nombre +'\','+idUsuario+');" class="btn btn-sm  bg-success text-white mx-3">+ Supervisor</a>'                           
                }
        },
        
       
      ]      
    });
});
function confirmar(especialidad,id){
  Swal.fire({
  title: especialidad,
  text: "Desea cambiar el estado de este Administrador?",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#4CAF50',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Confirmar'
}).then((result) => {
  if (result.isConfirmed) {
    window.location = '/usuarios/administrador/estado/'+id;
    // Swal.fire(
      
    //   'Estado actualizado con exito.',
    //   'success'
    // )
  }
})
}
function confirmarSupervisor(especialidad,id){
  Swal.fire({
  title: especialidad,
  text: "Desea hacer a este usuario SUPERVISOR?",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#4CAF50',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Confirmar'
  
}).then((result) => {
  if (result.isConfirmed) {
    window.location = '/usuarios/supervisor/nuevo/'+id;
    
    // Swal.fire(
      
    //   'Estado actualizado con exito.',
    //   'success'
    // )
  }
})
}
function confirmarTecnico(especialidad,id){
  Swal.fire({
  title: especialidad,
  text: "Desea hacer a este usuario TECNICO?",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#4CAF50',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Confirmar'
  
}).then((result) => {
  if (result.isConfirmed) {
    window.location = '/usuarios/tecnico/nuevo/'+id;
    
    // Swal.fire(
      
    //   'Estado actualizado con exito.',
    //   'success'
    // )
  }
})
}

   
  </script>
<%- include('../common/footer')%>

