
<%- include('../common/header')%>

<div class="container-fluid">
  <div class="row">
    
    <%- include('../common/aside')%>    
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between  flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1><%=title%></h1>
        <a href="/kks/nuevo" class="btn btn-md bg-primary-500 text-white"> + Agregar KK's</a>
      </div>

      
      
      <% if(typeof msgok != 'undefined') { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><%= msgok %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      
      <% } %> 
      <div class="table-responsive">
        <table id="kks" class="table table-bordered  table striped text-center mt-4">
          <thead>
            <tr class="bg-primary-500 text-white">
            <th scope="col">General</th>
            <th scope="col">Especifica</th>
            <th scope="col"> KKs</th>
            <!-- <th scope="col"> Orden</th> -->
            <th scope="col"> Estado</th>
            <th scope="col"> Acciones</th>
            </tr>

          </thead>

        </table>
      </div>
    </main>
  </div>
  
</div>

<script>  

  $(document).ready(function () {
    $('#kks').DataTable({
      "ordering": false,   
      language: {
        url: '/json/es-ES.json'
      },      
      columnDefs: [
    {
        targets:0,
        className: 'dt-body-left'
    }
  ],
      ajax:{
        url:"/kks/lista",
        dataSrc:""
      },
      columns:[
      {data:"general"},
      {data:"especifica"},
      {data:"kks"},
      // {data:"orden"},
      {"data": null,
         "render": function (data, type, row) {
                return data.estado
                    ? '<h6 class="text-success">Habilitado</h6>'
                    : '<h6 class="text-danger">Deshabilitado</h6>'
            },
        },
        {"data": null,
            "render": function (data,type,row) { 
              var partNo = row.id;
              return '<button type="button" onclick="confirmar(\'' + row.kks +'\','+partNo+');" class="btn btn-sm bg-violet text-white custom-button">Cambiar estado</button><a href="/kks/editar/'+data.id+ '"class="btn btn-sm  bg-blue text-white mt-1 custom-button">Editar</a>'                           
              }
        },
      ]      
    });
});
function confirmar(kks,id){
  Swal.fire({
  title: kks,
  text: "Desea cambiar el estado de est KKs?",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#4CAF50',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Confirmar'
}).then((result) => {
  if (result.isConfirmed) {
    window.location = '/kks/estado/'+id;
    // Swal.fire(
      
    //   'Estado actualizado con exito.',
    //   'success'
    // )
  }
})
}
  </script>
<%- include('../common/footer')%>

