
<%- include('../common/header')%>
%>


<div class="container-fluid">
  <div class="row">
    
    <%- include('../common/asidetecnico')%>    
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1><%=title%></h1>
        

        
<!-- Button trigger modal -->


<!-- ------------------------------------ -->
        
      
      </div>
      
      <% if(typeof msgok != 'undefined') { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><%= msgok %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      
      <% } %> 
      <% if(typeof kksmsgok != 'undefined') { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><%= kksmsgok %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      
      <% } %> 
      <table id="especialidad" class="table table-bordered  table striped text-center mt-4">
        <thead>
          <tr class="bg-primary-500 text-white">
            <th scope="col">Turbina</th>
            <th scope="col">Fecha</th>
            <th scope="col">Supervisor</th>
            <th scope="col">Estado</th>
            <th scope="col">Operaciones</th>
          </tr>

        </thead>

      </table>
      
    </main>
  </div>
  
</div>

<script>
   

$(document).ready(function () {
    $('#especialidad').DataTable({
      responsive: true,
        className: 'table-responsive',
      
      // "ordering": true, 
      order: [[1, 'desc']], 
      language: {
        url: '/json/es-ES.json'
      },      
      ajax:{
        url:"/ot/pendientesjson",
        dataSrc:""
      },
      columns:[
      {data:"Turbina.nombre"},
      {data:null,
          "render": function (data, type, row) {
            

            const fechaCreado = data.createdAt.slice(0, 19).replace('T',' ');
            // return new Date(JSON.stringify(fechaCreado))
               return fechaCreado;
            },
        },
      {data:"Supervisor.nombre"},
      {"data": null,
         "render": function (data, type, row) {
                switch (data.estadotecnico) {
                case 0:
                    return  '<h6 class="text-primary">Pendiente</h6>';
                case 1:
                return  '<h6 class="text-warning">Procesando...</h6>';
                case 2:
                return  '<h6 class="text-success">Finalizado</h6>';
                default:
                    return "Error de estado";
                }
            },
        },
      {"data": null,
        "render": function (data,type,row) { 
          console.log("--------dafaking row"+data);
          
          var partNo = row.id;
          var estado;
          
          switch (data.estadotecnico) {
            case (2):
            return 'Finalizado'                           
              break;

              case (1):
              return '<a href="/ot/formularioreanudar/'+data.id+ '"class="btn btn-sm  bg-succes-dark text-white mx-3">Reanudar</a>'                             
              break;
          
            default:
            return '<a href="/ot/formulario/'+data.id+ '"class="btn btn-sm  bg-succes-dark text-white mx-3">Iniciar</a>'                             
              break;
          }
            
            
            }
        },
      ]      
    });
});

function confirmar(especialidad,id){
  Swal.fire({
  title: especialidad,
  text: "Desea cambiar el estado de esta especialidad?",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#4CAF50',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Confirmar'
}).then((result) => {
  if (result.isConfirmed) {
    window.location = '/panel/especialidades/estado/'+id;
    // Swal.fire(
      
    //   'Estado actualizado con exito.',
    //   'success'
    // )
  }
})
}


var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
myModal.show();


</script>
<%- include('../common/footer')%>

